# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db
database/attendance_system.db

# Logs and backups
*.log
*.bak

# Environment files
.env
*.env

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Model files
models/*.pt
